body{ 
    font-family: "Din", sans-serif;
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
    font-size: 18pt;
}

@font-face {
    font-family: "Din";
	src: url("../fonts/DINOT.woff"); }


@font-face {
    font-family: "DinBold";
    font-weight: bold;
    src: url("../fonts/DINOT-Bold.woff"); 
}
h1{
	font-size: 30pt;
	line-height: 0px;
}
h2{
	font-size: 26pt;
	padding: 0;
}
h3{
	font-size: 20pt;
	padding: 0;
}

/*h5{
 	color:red; 
 	z-index: 200; 
 	width: 200px;
 	left: 220px;
} */

.translation{
	font-family: "DinBold";
	position: fixed, top;
	color:red; 
 	z-index: -1; 
 	font-size:175px;


}
	

}
