body{ 
    font-family: /*"Din",*/ sans-serif;
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
    font-size: 22pt;
}

/*@font-face {
    font-family: "Din";
	src: url("../fonts/DINOT.woff"); }


@font-face {
    font-family: "DinBold";
    font-weight: bold;
    src: url("../fonts/DINOT-Bold.woff"); */
}
h1{
	font-size: 30pt;
	line-height: 0px;
}
h2{
	font-size: 26pt;
	line-height: 26px;
}
h3{
	font-size: 20pt;
	line-height: 20px;
}

/*h5{
 	color:red; 
 	z-index: 200; 
 	width: 200px;
 	left: 220px;
} */

.translation{
	font: /*"DinBold",*/ sans-serif;
	position: fixed;
	color:red; 
 	z-index: -1; 
 	font-size:17px;
 	top:0px;


}
	

}
