body{ 
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 30%;
	padding-bottom: 30%;
    
    font-size: 18pt;

}
@font-face {
    font-family: 'Din Black'; /*a name to be used later*/
    src: url('DIN Black'); /*URL to font*/
    font-family: 'Din Regular'; /*a name to be used later*/
    src: url('DIN Regular'); /*URL to font*/
}
h1{
	font-size: 30pt;
}
h2{
	font-size: 26pt;
}
h3{
	font-size: 20pt;
}

h5{
 	color:red; 
 	z-index: 200; 
 	font-size: 100px
}
	

}
